{% extends 'base.html.twig' %}

{% block title %}Changement du mot de passe{% endblock %}
{% block classBody %}password-change security{% endblock %}
{% block body %}
<div class="content-form d-flex justify-content-center align-items-center flex-column">
    {{ form_start(form) }}
        <h1>Changement du mot de passe</h1>
    {{ form_widget(form) }}
    <button class="btn w-100">Confirmer <i class="fas fa-check"></i></button>
    {{ form_end(form) }}
</div>
{% endblock %}

