<main>
    <section class='article'>
        <article>
            <h1>{{article.title}}</h1>

            <div class="content">
                {{article.content|raw}}
            </div>
            <hr>
        </article>
    </section>
</main>