$body-padding: 40px;
$basic-transition: 0.3s ease-in-out;
$box-shadow: 0 0 7px rgba(249, 163, 146, 0.14);
$box-shadow-hover: 0 0 7px rgba(249, 163, 146, 0.44);
$linearGradient: linear-gradient(90deg, #f9a392 56%, #8ed4cc 100%);
$pink: #f9a392;
$blue: #8ed4cc;
$blue-opacity: rgba(142, 212, 204, 0.13);
$pink-opacity: 0 0 0 0.2rem rgba(249, 163, 146, 0.25);
$full-screen: 100vh;
$container-width: 665px;
$container-padding: 2.5rem;